In [0]:
import java.sql.Connection
import java.sql.Statement
import java.sql.DriverManager

In [1]:

val url = "jdbc:mysql://daxxry-fc.xxxds.ap-northeast-2.rds.amazonaws.com:3306/pipelinedb?characterEncoding=UTF-8"
val user: String ="pipeline"
val pass: String="xxx12#" 
 
 
val prop = new java.util.Properties
prop.setProperty("driver", "com.mysql.jdbc.Driver")
prop.setProperty("user", user)
prop.setProperty("password",pass)

In [2]:

val csvDF = spark.read
  .option("header", "true")
  .option("delimiter", ",")
  .option("inferSchema","true")
  .csv("s3://fc-storydata/ods/danji_master.csv")

In [3]:

csvDF.createOrReplaceTempView("danji_master_pq")

In [4]:
%sql

select id, 
       danji_name,
       new_address,
       sido,
       sigungu,
       dong
from danji_master_pq

In [5]:
val table1 = "danji_master_rds"

val df = spark.sql("""
            select id, 
                   danji_name,
                   new_address,
                   sido,
                   sigungu,
                   dong
            from danji_master_pq
                      """)

 df.write.mode("append").jdbc(url, table1, prop)

In [6]:
val areaQuery = """(
        select  *
        from danji_master_rds a

 ) a"""
 
 
 val salesQuery = """(
        select  *
        from apart_sales_info b

 ) b"""
 
  val danjiMasterDF = spark.read.format("jdbc").option("url",url).option("dbtable", areaQuery).option("user", user).option("password", pass).option("useUnicode", "true").option("characterEncoding","utf8").load()

  val danjiSalesDF = spark.read.format("jdbc").option("url",url).option("dbtable", salesQuery).option("user", user).option("password", pass).option("useUnicode", "true").option("characterEncoding","utf8").load()

In [7]:
danjiSalesDF.show

In [8]:
danjiMasterDF.createOrReplaceTempView("danji_master")

danjiSalesDF.createOrReplaceTempView("danji_sales")

In [9]:
%sql 
select b.sido, b.gugun, b.dong, count(*) as cnt
from danji_master a
join danji_sales b on a.id = b.id
where b.total_units > 200
group by b.sido, b.gugun, b.dong

In [10]:
%%sql